.box {
    text-align: center;
    height: 100vh;
    background-color: white;
}

.Button {
    height: 80px;
    width: 100px;
    text-align: center;
    color: rgb(255, 115, 0);
    background-color: black;
    font-size: large;
    font-style: italic;
    font-weight: 200;
}

.dayLight {
    background-color: yellow;
}

.nightLight {
    background-color: skyblue;
}